#section1 .content-right, #section2 .content-left, #section3 .content-right, #section5 .content-left {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul, #section3 .content-left ul, #section6 ul {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  overflow-X: hidden;
}

ul {
  list-style-type: none;
  left: 21% !important;
}

.content {
  /*width: 100%;*/
}

.content .content-left {
  /*float: left;*/
}

.content .content-right {
  /*float: right;*/
}

#section1 {
  width: calc(100vw - (100vw - 100%) / 2);
  height: 1080px;
  background-color: white;
}

#section1 .content-right {
  position: absolute;
  width: 960px;
  height: 1147.32px;
  top: calc(50% - 1147.32px/2 - 33.35px);
}

#section1 .content-left {
  padding: 168px;
  width: 41.30%;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 0;
  left: 0;
  height: 744px;
  /* height minus padding */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

#section1 .content-left span {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2%;
  width: 624px;
  height: 360px;
  color: #1C1C1B;
  text-transform: uppercase;
}

#section1 .content-left p {
  font-size: 32px;
  font-weight: 400;
  color: #003F7E;
  height: 72px;
  width: 624px;
}

#section1 .content-left a {
  background-color: #E4002B;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  font-size: 24px;
  border: none;
  text-transform: uppercase;
  height: 65px;
  width: 411px;
  padding: 16px 24px;
  position: absolute;
  top: 830px;
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: calc(100vw - (100vw - 100%) * 2);
  /* make width of container minus scrollbar to remove horizontal scroll appearing */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section2 {
  width: calc(100vw - (100vw - 100%) / 2);
  height: 696px;
  overflow: hidden;
}

#section2 .content-left {
  width: 49.2vw;
  height: 909px;
  left: calc(50% - 960px/2 - 480px);
  /*top: calc(50% - 909px/2 - 0.5px);*/
  top: -107px;
  /*height: 969px;*/
  background-image: url(../Images/bikuva.png);
}

#section2 .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 408px;
  /* height minus padding */
  position: absolute;
  right: 0;
  height: 100%;
  left: 46vw;
  padding: 150px;
  width: 40%;
  position: absolute;
  right: 0;
}

#section2 .content-right img {
  height: 96px;
  width: 496px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 32px 0px;
}

#section2 .content-right p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 624px;
  height: 280px;
  left: 0px;
  top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #1C1C1B;
}

#section2 .content-right h1 {
  font-size: 57px;
}

#section2 .content-left {
  /*overflow: hidden;
        width: 50%;
        position: absolute;*/
}

#section3 {
  overflow: none;
  position: relative;
  background-color: #005098;
  padding: 168px;
  width: calc(100vw - (100vw - 100%) / 2);
  /* make width of container minus scrollbar to remove horizontal scroll appearing */
  height: 1041px;
}

#section3 .content-left {
  background-color: #005098;
  width: 10% !important;
  background-color: blue;
}

#section3 .content-left #accept-text {
  color: red !important;
}

#section3 .content-left label[for=accept] {
  float: right;
  position: absolute;
  bottom: 117px;
  left: 5%;
}

#section3 .content-left input[type=submit] {
  position: absolute;
  bottom: 0;
  width: 435px;
  height: 65px;
  border-radius: 30px;
  background-color: #E4002B;
  border: none;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

#section3 .content-left input[type=text] {
  width: 103%;
  height: 38px;
  border-radius: 30px;
  border: none;
  padding: 8px 24px;
}

#section3 .content-left input:nth-of-type(-n+2) {
  width: 50%;
  left: 53%;
}

#section3 .content-left input:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 22px;
}

#section3 .content-left label:nth-of-type(2) {
  position: absolute;
  left: 53%;
  top: 0;
}

#section3 .content-left form * {
  display: block;
}

#section3 .content-left input,
#section3 .content-left label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#section3 .content-left input {
  margin-bottom: 8px;
  margin-top: 8px;
}

#section3 .content-left input[type=radio] + label {
  height: 38px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 300px;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section3 .content-left input::-webkit-input-placeholder {
  color: #1C1C1B;
}

#section3 .content-left input:-ms-input-placeholder {
  color: #1C1C1B;
}

#section3 .content-left input::-ms-input-placeholder {
  color: #1C1C1B;
}

#section3 .content-left input::placeholder {
  color: #1C1C1B;
}

#section3 .content-left ul label {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

#section3 .content-left ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

#section3 .content-left li {
  text-align: center;
  padding: 10px;
  display: inline-block;
}

#section3 .content-left .radio-lbl {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section3 .content-left form input[type=radio]:checked + label {
  background: white;
  color: #1C1C1B;
}

#section3 .content-left form input[type=radio] {
  display: none;
}

#section3 .content-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 0;
  width: 50% !important;
  position: absolute;
  top: 360px;
  left: 8.75vw;
  width: 36% !important;
  height: 601px;
  color: white;
}

#section3 .content-left form p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: none;
  height: 22px;
}

#section3 .content-left p {
  width: 624px;
  height: 108px;
  left: 0;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0px;
}

#section3 .content-left p:first-child {
  position: absolute;
  top: 112px;
  left: 9%;
  height: 108px;
  width: 624px;
  line-height: 54px;
  font-weight: 800;
  font-size: 52px;
}

#section3 .content-left p:nth-child(2) {
  height: 60px;
  width: 624px;
  font-weight: 400;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0;
  position: absolute;
  top: 252px;
  left: 9%;
  text-transform: none;
}

#section3 .content-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-image: url(../Images/closeup-man.png);
  background-color: pink;
  background-position: 0 -56px;
  background-position-y: bottom;
}

#section4 {
  padding: 0 191px 126px 168px;
  height: 678px !important;
}

#section4 .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section4 .content-bottom .fact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  top: 470px;
  left: 8.8%;
  width: 84%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section4 .content-bottom .fact-item p:first-child {
  color: #003F7E;
  font-size: 28px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin: 16px 0;
  white-space: nowrap;
  position: relative;
}

#section4 .content-bottom .fact-item p:first-child:after {
  content: "";
  background: #003F7E;
  position: absolute;
  top: 30px;
  left: 0;
  width: 97px;
  height: 1px;
}

#section4 .content-bottom .fact-item p:nth-child(2) {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #003F7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

#section4 .content-bottom .fact-item p:nth-child(2) span {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#section4 h2 {
  font-weight: 800;
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.02em;
}

#section4 h4 {
  font-weight: 400;
  width: 741px !important;
  height: 140px !important;
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 0.02em;
  color: #1C1C1B;
}

#section4 .content-right {
  position: absolute;
  right: 220px;
  top: 100px;
}

#section5 {
  border-top: 4px solid #005098;
  width: 100vw;
  height: 1362px;
}

#section5 .content-left {
  background-image: url(../Images/closeup-man2.png);
  height: 1046px;
  width: 45%;
  position: absolute;
  top: 144px;
  background-position-y: -100px;
}

#section5 .content-right {
  width: 50%;
  position: absolute;
  right: 0;
}

#section5 .content-right a {
  background-color: #E4002B;
  height: 65px;
  width: 233px;
  border-radius: 30px;
  padding: 16px 48px;
  color: white;
  font-size: 24px;
  line-height: 32.74px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  right: 55%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#section5 .content-right h3 {
  font-weight: 800;
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.02em;
  width: 450px;
  height: 108px;
  position: absolute;
  top: -25px;
}

#section5 .content-right .fact-list-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0 0;
      grid-template-areas: ". . ." ". . ." ". . .";
}

#section5 .content-right .fact-list-2 .fact-item-2 {
  width: 230px;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

#section5 .content-right .fact-list-2 h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #003F7E;
  margin-bottom: 10px;
  position: absolute;
  top: -65px;
}

#section5 .content-right .fact-list-2 h2:after {
  content: "";
  background: black;
  position: absolute;
  top: 55px;
  left: 0;
  width: 168px;
  height: 1px;
}

#section5 .content-right .fact-list-2 p {
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

#section5 .content-right .fact-list-2 span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

#section6 {
  width: calc(1920px - (100vw - 100%) / 2);
  background-color: #005098;
  overflow: none;
  position: relative;
  height: 629px;
  padding: 0 500px;
  background-color: #005098;
}

#section6 * {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

#section6 p:first-child {
  width: 1584px !important;
}

#section6 p:nth-of-type(2) {
  width: 1584px !important;
}

#section6 ul + input {
  position: absolute;
  width: auto;
  left: 5%;
  top: 147px !important;
}

#section6 input[type=checkbox] + label {
  position: absolute;
  top: 152px;
  left: 20px;
  text-decoration: underline;
}

#section6 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 24px;
  left: 1112px !important;
}

#section6 form p {
  margin-top: -45px !important;
}

#section6 label[for=accept] {
  float: right;
  position: absolute;
  bottom: 117px;
  left: 24px;
}

#section6 input[type=submit] {
  position: absolute;
  bottom: 375px;
  width: 411px;
  height: 65px;
  border-radius: 30px;
  background-color: #E4002B;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section6 .form-item {
  width: 20%;
}

#section6 input[type=text] {
  height: 38px;
  border-radius: 30px;
  border: none;
  padding: 8px 24px;
  width: 100%;
}

#section6 form * {
  display: block;
}

#section6 input,
#section6 label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#section6 input {
  margin-bottom: 8px;
  margin-top: 8px;
}

#section6 input[type=radio] + label {
  height: 38px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 300px;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section6 input::-webkit-input-placeholder {
  color: #1C1C1B;
}

#section6 input:-ms-input-placeholder {
  color: #1C1C1B;
}

#section6 input::-ms-input-placeholder {
  color: #1C1C1B;
}

#section6 input::placeholder {
  color: #1C1C1B;
}

#section6 ul label {
  -webkit-transform: translateY(52px);
          transform: translateY(52px);
}

#section6 ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  position: absolute;
  top: 70px;
  left: 390px;
}

#section6 li {
  text-align: center;
  padding: 10px;
  display: inline-block;
  -webkit-transform: translateY(-53px);
          transform: translateY(-53px);
}

#section6 .radio-lbl {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section6 form input[type=radio]:checked + label {
  background: white;
  color: #1C1C1B;
}

#section6 form input[type=radio] {
  display: none;
  height: 38px;
  width: 175px;
}

#section6 form {
  height: 100%;
  padding: 0;
  position: absolute;
  left: 8.9% !important;
  top: 360px;
  height: 601px;
  color: white;
  width: 85vw;
}

#section6 form p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: none;
  height: 22px;
}

#section6 p {
  width: 624px;
  height: 108px;
  left: 0;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0px;
}

#section6 p:first-child {
  position: absolute;
  top: 112px;
  left: 168px;
  height: 108px;
  width: 624px;
  line-height: 54px;
  font-weight: 800;
  font-size: 52px;
}

#section6 p:nth-child(2) {
  height: 60px;
  width: 624px;
  font-weight: 400;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0;
  position: absolute;
  top: 190px;
  left: 168px;
  text-transform: none;
}

ul:nth-of-type(1) + input {
  position: absolute;
  left: 0;
  top: 460px !important;
}

#checkbox-lbl-1 {
  position: absolute;
  top: 465px;
  left: 4% !important;
  text-decoration: underline;
}

ul + input {
  position: absolute;
  left: 0 !important;
}

input[type=checkbox] + label {
  position: absolute;
  top: 465px;
  left: 2% !important;
  text-decoration: underline;
  font-size: 0.8rem !important;
}

.content {
  position: relative;
  left: 0px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 0px;
  /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'left right';
        */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* hero slider */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

input[type="radio"] {
  display: none;
}

.js-slider {
  position: absolute;
  width: 50vw;
  height: 1080px;
  top: 67px;
  left: 49.2vw;
  margin: 0 auto;
}

.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1), -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}

#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3,
#s-4:checked ~ .js-slider .js-slider_item.img-4,
#s-5:checked ~ .js-slider .js-slider_item.img-5 {
  opacity: 1;
  visibility: visible;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
          transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}

.js-slider_img {
  width: calc(50vw + 20px);
  height: calc(100% + 32px) !important;
  left: 0;
  height: 100%;
  top: 0;
  margin-top: -32px;
  overflow: hidden;
  -webkit-transform: translate(-58px, 16px);
          transform: translate(-58px, 16px);
}

.js-slider_img .image-slide-logo {
  position: absolute !important;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.c-img-h-full {
  position: absolute;
  top: -50px;
  min-width: 55vw;
  min-height: 105%;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.view-sm {
  display: none;
}

.js-slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.js-slider_nav_item.prev {
  left: 0;
}

.js-slider_nav_item.next {
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url(../Images/hero-slide-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  top: 55%;
  width: 1rem;
  background-color: #e60012;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
          transform: translate3d(0, -50%, 0) rotate(-45deg);
}

.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 2rem;
  background-color: #e60012;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3,
#s-4:checked ~ .js-slider .js-slider_nav .s-nav-4,
#s-5:checked ~ .js-slider .js-slider_nav .s-nav-5 {
  display: block;
}

.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 63%;
  width: 100%;
  text-align: center;
}

.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}

.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #e60012;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.radio-pills {
  background: red;
  height: 100wh;
  opacity: 0;
}

footer {
  background-color: #1C1C1B;
  height: 348px;
  width: calc(100% + (100vw - 100%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

footer h2 {
  width: 600px;
  color: white;
  height: 108px;
  font-weight: 800;
  font-size: 52px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media all and (max-width: 1312px) {
  ul + input {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  input[type=checkbox] + label {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  #section1 {
    margin-top: -150px;
    height: 884px;
  }
  #section1 .content-left span {
    font-size: 38px;
    width: 450px;
    -webkit-transform: translate(-85px, -55px);
            transform: translate(-85px, -55px);
  }
  #section1 .content-left p {
    font-size: 24px;
    width: 464px;
    -webkit-transform: translate(-80px, -115px);
            transform: translate(-80px, -115px);
  }
  #section1 .content-left a {
    font-size: 16px;
    width: 294px;
    -webkit-transform: translate(-165px, -120px);
            transform: translate(-165px, -120px);
  }
  #section1 .content-right .js-slider {
    top: 314px;
    height: 735px;
  }
  #section2 .content-right img {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  #section2 .content-right p {
    font-size: 16px;
    width: 464px;
  }
  #section3 .content-left p:first-child {
    font-size: 38px;
    width: 472px;
  }
  #section3 .content-left p:nth-of-type(2) {
    font-size: 20px;
    width: 472px;
  }
  #section3 .content-left ul {
    width: 450px;
  }
  #section3 .content-left input[type=submit] {
    font-size: 16px;
    height: 52px;
    width: 300px;
    font-family: "Nunito Sans", sans-serif;
  }
  #section4 {
    height: 550px !important;
  }
  #section4 .content-left h2 {
    font-size: 34px;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  #section4 .content-left h4 {
    -webkit-transform: translate(-60px, 20px);
            transform: translate(-60px, 20px);
    font-size: 16px;
    width: 506px !important;
    line-height: 20px;
  }
  #section4 .content-bottom .fact-list {
    gap: 80px;
    top: 365px;
  }
  #section4 .content-bottom .fact-list .fact-item p:first-child {
    font-size: 14px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) {
    font-size: 32px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) span {
    font-size: 14px;
  }
  #section5 .content-right {
    height: 900px;
  }
  #section5 .content-right a {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 190px;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
  }
  #section5 .content-right h3 {
    font-size: 34px;
    width: 290px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  #section5 .content-right .fact-list-2 h2 {
    font-size: 32px;
  }
  #section5 .content-right .fact-list-2 p {
    font-size: 16px;
    width: 165px;
    line-height: 20px;
  }
  #section5 .content-right .fact-list-2 span {
    font-size: 16px;
    width: 168px;
    line-height: 20px;
  }
}

@media all and (max-width: 1150px) {
  ul + input {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  input[type=checkbox] + label {
    -webkit-transform: translate(5px, -20px);
            transform: translate(5px, -20px);
  }
  #section1 {
    margin-top: -150px;
    height: 750px;
  }
  #section1 .content-left span {
    line-height: 34px;
    font-size: 28px;
    width: 350px;
    -webkit-transform: translate(-135px, -25px);
            transform: translate(-135px, -25px);
  }
  #section1 .content-left p {
    line-height: 20px;
    font-size: 20px;
    width: 364px;
    -webkit-transform: translate(-125px, -230px);
            transform: translate(-125px, -230px);
  }
  #section1 .content-left a {
    font-size: 16px;
    width: 294px;
    height: 40px;
    font-weight: bold;
    -webkit-transform: translate(-165px, -230px);
            transform: translate(-165px, -230px);
  }
  #section1 .content-right .js-slider {
    top: 314px;
    height: 668px;
  }
  #section2 .content-right img {
    -webkit-transform: translateX(-130px) scale(0.7);
            transform: translateX(-130px) scale(0.7);
  }
  #section2 .content-right p {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    font-size: 14px;
    width: 364px;
  }
  #section3 {
    height: 770px;
  }
  #section3 .content-left p:first-child {
    font-size: 26px;
    top: 50px;
  }
  #section3 .content-left p:nth-of-type(2) {
    font-size: 16px;
    width: 40%;
    top: 130px;
  }
  #section3 .content-left ul {
    width: 450px;
  }
  #section3 .content-left input[type=submit] {
    font-size: 16px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 490px;
    width: 300px;
    font-family: "Nunito Sans", sans-serif;
  }
  #section3 .content-left label[for=fname] {
    font-size: 14px;
  }
  #section3 .content-left input[type=text] {
    height: 30px;
    font-size: 14px;
  }
  #section3 .content-left input[type=text] + label {
    font-size: 14px;
  }
  #section3 .content-left form {
    top: 220px;
  }
  #section4 {
    height: 550px !important;
  }
  #section4 .content-right img {
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
  #section4 .content-left h2 {
    font-size: 26px;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
  #section4 .content-left h4 {
    -webkit-transform: translate(-90px, 20px);
            transform: translate(-90px, 20px);
    font-size: 14px;
    width: 70% !important;
    line-height: 20px;
  }
  #section4 .content-bottom .fact-list {
    gap: 80px;
    top: 365px;
  }
  #section4 .content-bottom .fact-list .fact-item p:first-child {
    font-size: 14px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) {
    font-size: 32px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) span {
    font-size: 14px;
  }
  #section5 .content-right {
    height: 1000px;
  }
  #section5 .content-right a {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 190px;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
  }
  #section5 .content-right h3 {
    font-size: 34px;
    width: 290px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  #section5 .content-right .fact-list-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: ". ." ". ." ". .";
    gap: 10%;
  }
  #section5 .content-right .fact-list-2 h2 {
    font-size: 32px;
  }
  #section5 .content-right .fact-list-2 p {
    font-size: 16px;
    width: 165px;
    line-height: 20px;
  }
  #section5 .content-right .fact-list-2 span {
    font-size: 16px;
    width: 168px;
    line-height: 20px;
  }
  #section5 .content-right a {
    height: 40px;
    -webkit-transform: translate(50%, 15px);
            transform: translate(50%, 15px);
  }
  #section6 p:first-child {
    font-size: 26px;
  }
  #section6 p:nth-of-type(2) {
    font-size: 16px;
  }
  #section6 label {
    font-size: 14px;
  }
  #section6 input[type=radio] + label {
    font-size: 12px;
    width: 120px;
    padding: 0;
  }
  #section6 label {
    white-space: nowrap;
  }
  #section6 form {
    left: 5% !important;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .footer-contacts {
    gap: 0px;
  }
  footer .footer-contacts a {
    font-size: 12px;
  }
  footer .footer-contacts a img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media all and (max-width: 550px) {
  .js-slider {
    position: absolute;
    background-color: blue;
  }
  .js-slider_item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
    transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
    transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
    transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1), -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  }
  .js-slider_img {
    width: 100vw !important;
    left: 0;
    height: 100%;
    top: 0;
    margin-top: -32px;
    overflow: hidden;
    -webkit-transform: translate(-58px, 16px);
            transform: translate(-58px, 16px);
  }
  .js-slider_img .image-slide-logo {
    position: absolute !important;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .c-img-h-full {
    position: absolute;
    top: -200px;
    min-width: 55vw;
    min-height: 105%;
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  ul + input {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  input[type=checkbox] + label {
    -webkit-transform: translate(5px, -20px);
            transform: translate(5px, -20px);
  }
  #section1 {
    margin-top: -150px;
    height: 797px;
  }
  #section1 .content-left span {
    line-height: 34px;
    font-size: 30px;
    width: 250px;
    -webkit-transform: translate(-85px, 85px);
            transform: translate(-85px, 85px);
  }
  #section1 .content-left p {
    line-height: 20px;
    font-size: 22px;
    width: 264px;
    -webkit-transform: translate(-78px, -75px);
            transform: translate(-78px, -75px);
  }
  #section1 .content-left a {
    font-size: 16px;
    width: 294px;
    height: 40px;
    font-weight: bold;
    -webkit-transform: translate(-75px, -110px);
            transform: translate(-75px, -110px);
  }
  #section1 .content-right .js-slider {
    top: 314px;
    height: 250px;
    width: 100vw;
    left: 0;
  }
  #section1 .content-right .js-slider .js-slider_img .image-slide-logo {
    -webkit-transform: translateX(-50%) scale(0.5);
            transform: translateX(-50%) scale(0.5);
    top: 150px;
    max-height: 150px;
  }
  #section2 {
    height: 650px;
  }
  #section2 .content-right img {
    -webkit-transform: translate(-405px, 110px) scale(0.5);
            transform: translate(-405px, 110px) scale(0.5);
  }
  #section2 .content-right p {
    -webkit-transform: translate(-280px, 90px);
            transform: translate(-280px, 90px);
    font-size: 13px;
    width: 288px;
  }
  #section2 .content-left {
    height: 200px;
    width: 100vw;
    -webkit-transform: translateY(-158px);
            transform: translateY(-158px);
  }
  #section3 {
    height: 970px;
  }
  #section3 .content-right {
    height: 181px;
    left: 0;
    width: 100vw;
  }
  #section3 .content-left p:first-child {
    font-size: 26px;
    top: 160px;
    left: 10px;
    width: 288px;
    line-height: 30px;
    text-align: center;
  }
  #section3 .content-left p:nth-of-type(2) {
    font-size: 16px;
    width: 80%;
    line-height: 20px;
    text-align: center;
    top: 270px;
    font-weight: lighter;
  }
  #section3 .content-left ul:nth-of-type(1) + input {
    top: 500px !important;
  }
  #section3 .content-left input[type=checkbox] + label {
    width: 80vw;
    left: 20px !important;
    top: 505px;
  }
  #section3 .content-left label:nth-of-type(3) {
    line-height: 10px;
  }
  #section3 .content-left ul {
    width: 450px;
  }
  #section3 .content-left input[type=submit] {
    font-size: 15px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 530px;
    width: 80vw;
    font-family: "Nunito Sans", sans-serif;
  }
  #section3 .content-left label[for=fname] {
    font-size: 14px;
  }
  #section3 .content-left input[type=text] {
    height: 30px;
    font-size: 14px;
    width: 220%;
  }
  #section3 .content-left input[type=text] + label {
    font-size: 14px;
    position: unset;
  }
  #section3 .content-left input:nth-of-type(-n+2) {
    width: 220%;
    left: 0;
    position: unset;
  }
  #section3 .content-left form {
    top: 360px;
  }
  #section3 .content-left .radio-lbl {
    font-size: 13px !important;
    margin: -5px -8px !important;
  }
  #section3 .content-left ul {
    width: 100vw;
  }
  #section4 {
    height: 1000px !important;
  }
  #section4 .content-right img {
    -webkit-transform: translate(55%, 75px) scale(0.5);
            transform: translate(55%, 75px) scale(0.5);
  }
  #section4 .content-left h2 {
    font-size: 28px;
    -webkit-transform: translate(-150px, -300px);
            transform: translate(-150px, -300px);
    width: 100vw;
  }
  #section4 .content-left h4 {
    -webkit-transform: translate(-150px, -300px);
            transform: translate(-150px, -300px);
    font-size: 13px;
    width: 90% !important;
    line-height: 20px;
  }
  #section4 .content-bottom .fact-list {
    gap: 5px;
    top: 365px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section4 .content-bottom .fact-list .fact-item {
    width: 220px;
  }
  #section4 .content-bottom .fact-list .fact-item p:first-child {
    font-size: 14px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) {
    font-size: 32px;
  }
  #section4 .content-bottom .fact-list .fact-item p:nth-child(2) span {
    font-size: 14px;
  }
  #section5 {
    height: 1000px;
  }
  #section5 .content-left {
    height: 200px;
    width: 100vw;
    top: 0;
  }
  #section5 .content-right {
    height: 1000px;
    left: 40px;
  }
  #section5 .content-right a {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 190px;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
  }
  #section5 .content-right h3 {
    font-size: 34px;
    width: 290px;
    -webkit-transform: translate(15px, 250px);
            transform: translate(15px, 250px);
  }
  #section5 .content-right .fact-list-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: ". ." ". ." ". .";
    -webkit-transform: translate(10px, 200px) scale(0.8);
            transform: translate(10px, 200px) scale(0.8);
  }
  #section5 .content-right .fact-list-2 .fact-item-2 {
    margin: -20px;
    margin-bottom: 10px;
  }
  #section5 .content-right .fact-list-2 h2 {
    font-size: 28px;
  }
  #section5 .content-right .fact-list-2 p {
    font-size: 16px;
    width: 165px;
    line-height: 20px;
  }
  #section5 .content-right .fact-list-2 span {
    font-size: 13px;
    width: 130px;
    line-height: 20px;
  }
  #section5 .content-right a {
    height: 40px;
    -webkit-transform: translate(180px, -25px);
            transform: translate(180px, -25px);
  }
  #section6 {
    height: 900px;
    width: 100vw;
  }
  #section6 input[type=checkbox] {
    -webkit-transform: translate(-70px, 330px);
            transform: translate(-70px, 330px);
  }
  #section6 input[type=checkbox] + label {
    -webkit-transform: translate(-50px, 320px);
            transform: translate(-50px, 320px);
  }
  #section6 input[type=text] {
    width: 90vw !important;
    -webkit-transform: translate(-150px, 10px);
            transform: translate(-150px, 10px);
    font-size: 13px;
  }
  #section6 input[type=text] + label {
    color: red !important;
  }
  #section6 form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    left: 10% !important;
  }
  #section6 form p {
    -webkit-transform: translate(-75px, 0px);
            transform: translate(-75px, 0px);
  }
  #section6 .form-item {
    -webkit-transform: translate(70px, -60px);
            transform: translate(70px, -60px);
  }
  #section6 .form-item label {
    -webkit-transform: translate(-145px, 10px);
            transform: translate(-145px, 10px);
    width: 100vw;
  }
  #section6 p:first-child {
    font-size: 26px;
    left: 5vw;
    top: 70px;
    width: 100vw !important;
    text-align: center;
  }
  #section6 p:nth-of-type(2) {
    font-size: 16px;
    width: 100vw !important;
    text-align: center;
    left: 0;
  }
  #section6 label {
    font-size: 14px;
  }
  #section6 input[type=radio] + label {
    font-size: 12px;
    width: 120px;
    padding: 0;
    -webkit-transform: translate(-15px, 60px);
            transform: translate(-15px, 60px);
  }
  #section6 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
    left: -75px !important;
    top: 380px;
    gap: 10px;
    bottom: 10px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  #section6 ul li {
    padding: 0;
  }
  #section6 ul li .radio-lbl {
    width: 42vw;
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
  }
  #section6 input[type=submit] {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90vw;
    height: 40px;
    left: 35%;
    top: 520px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    height: 248px;
  }
  footer h2 {
    width: 80vw;
    font-size: 22px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 30px;
    margin-bottom: -80px;
  }
  footer img {
    height: 20px;
  }
  footer a {
    font-size: 13px;
  }
  footer .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */