#section1 .content-right, #section2 .content-left, #section3 .content-right {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content {
  /*width: 100%;*/
}

.content .content-left {
  /*float: left;*/
}

.content .content-right {
  /*float: right;*/
}

#section1 {
  width: calc(100vw - (100vw - 100%) / 2);
  height: 1080px;
  background-color: white;
}

#section1 .content-right {
  /*width: calc(100vw - (100vw - 100%));*/
  /*height: 1080px;*/
  /*height: 1080px;*/
  position: absolute;
  width: 960px;
  height: 1147.32px;
  top: calc(50% - 1147.32px/2 - 33.35px);
  /*background-image: url(/Images/stanley-fatmax.png);*/
}

#section1 .content-right {
  /*overflow: hidden;
        
        height: 1080px;
        position: absolute;
        right: 0;
        width: 50%;*/
}

#section1 .content-left {
  padding: 168px;
  /*
        flex: none;
        order: 0;*/
  width: 40%;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 0;
  left: 0;
  height: 744px;
  /* height minus padding */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}

#section1 .content-left span {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2%;
  width: 624px;
  height: 360px;
  color: #1C1C1B;
  text-transform: uppercase;
}

#section1 .content-left p {
  font-size: 32px;
  font-weight: 400;
  color: #003F7E;
  height: 72px;
  width: 624px;
}

#section1 .content-left a {
  background-color: #E4002B;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  font-size: 24px;
  border: none;
  text-transform: uppercase;
  height: 65px;
  width: 411px;
  padding: 16px 24px;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: calc(100vw - (100vw - 100%) * 2);
  /* make width of container minus scrollbar to remove horizontal scroll appearing */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container img {
  /*display: block;*/
}

#section2 {
  width: calc(100vw - (100vw - 100%) / 2);
  height: 696px;
  overflow: hidden;
}

#section2 .content-left {
  position: absolute;
  width: 960px;
  height: 909px;
  left: calc(50% - 960px/2 - 480px);
  /*top: calc(50% - 909px/2 - 0.5px);*/
  top: -107px;
  /*height: 969px;*/
  background-image: url(/Images/bikuva.png);
}

#section2 .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 408px;
  /* height minus padding */
  position: absolute;
  right: 0;
  height: 100%;
  left: 960px;
  padding: 150px;
  width: 40%;
  position: absolute;
  right: 0;
}

#section2 .content-right img {
  height: 96px;
  width: 496px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 32px 0px;
}

#section2 .content-right p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 624px;
  height: 280px;
  left: 0px;
  top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #1C1C1B;
}

#section2 .content-right h1 {
  font-size: 57px;
}

#section2 .content-left {
  /*overflow: hidden;
        width: 50%;
        position: absolute;*/
}

#section3 {
  overflow: none;
  position: relative;
  background-color: #005098;
  padding: 168px;
  width: calc(100vw - (100vw - 100%) / 2);
  /* make width of container minus scrollbar to remove horizontal scroll appearing */
  height: 1041px;
}

#section3 input {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 24px;
  position: absolute;
  width: 304px;
  height: 38px;
  border-radius: 30px;
}

#section3 .content-left {
  background-color: #005098;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section3 .content-left form {
  height: 100%;
  width: 50%;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.5;
  position: absolute;
  top: 328px;
  width: 624px;
  height: 601px;
}

#section3 .content-left p {
  width: 624px;
  height: 108px;
  left: 0;
  top: 0;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0px;
}

#section3 .content-left p:first-child {
  position: absolute;
  top: 112px;
  left: 168px;
  height: 108px;
  width: 624px;
  line-height: 54px;
  font-weight: 800;
  font-size: 52px;
}

#section3 .content-left p:nth-child(2) {
  height: 60px;
  width: 624px;
  font-weight: 400;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 16px 0;
  position: absolute;
  top: 252px;
  left: 168px;
  text-transform: none;
}

#section3 .content-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-image: url(/Images/closeup-man.png);
  background-color: pink;
  background-position: 0 -56px;
}

#section6 {
  background-color: #005098;
}

/*
.content-left {
    grid-area: left;
}

.content-right {
    grid-area: right;
}
*/
.content {
  position: relative;
  left: 0px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 0px;
  /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'left right';
        */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* hero slider */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

input[type="radio"] {
  display: none;
}

.js-slider {
  position: relative;
  position: absolute;
  width: 951px;
  height: 100%;
  left: 951px;
  margin: 0 auto;
}

.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
          transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  -webkit-transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
  transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1), -webkit-transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}

#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3,
#s-4:checked ~ .js-slider .js-slider_item.img-4,
#s-5:checked ~ .js-slider .js-slider_item.img-5 {
  opacity: 1;
  visibility: visible;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
          transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}

.js-slider_img {
  width: calc(1920px / 2);
  height: 1080px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.view-sm {
  display: none;
}

.js-slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.js-slider_nav_item.prev {
  left: 0;
}

.js-slider_nav_item.next {
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url(/Images/hero-slide-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  top: 55%;
  width: 1rem;
  background-color: #e60012;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
          transform: translate3d(0, -50%, 0) rotate(-45deg);
}

.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 2rem;
  background-color: #e60012;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3,
#s-4:checked ~ .js-slider .js-slider_nav .s-nav-4,
#s-5:checked ~ .js-slider .js-slider_nav .s-nav-5 {
  display: block;
}

.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 63%;
  width: 100%;
  text-align: center;
}

.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}

.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #e60012;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
/*# sourceMappingURL=style.css.map */